<hgroup>
    <h1>Business Management Dashboard</h1>
    <h3>Everything you need to manage your business</h3>
</hgroup>
<div class="row">
    <div class="col-lg-3">
        <div id="" class="bs-sidebar">
            <ul class="nav bs-sidenav">
                <li><a href="#">Users</a>
                    <ul class="nav">
                        <li><a href="#">New</a></li>
                        <li><a href="#">Billing Problems</a></li>
                        <li><a href="#">Management</a></li>
                    </ul>
                </li>
                <li><a href="#">Office Management</a>
                    <ul class="nav">
                        <li><a href="#">Add</a></li>
                        <li><a href="#">Capacity</a></li>
                        <li><a href="#">Assign</a></li>
                    </ul>
                </li>
                <li><a href="#">Business Management</a>
                    <ul class="nav">
                        <li><a href="#">Sign Ups</a></li>
                        <li><a href="#">Paying Customers</a></li>
                        <li><a href="#">Monthly Recurring Revenue</a></li>
                        <li><a href="#">Cost of Customer Acquisition</a></li>
                        <li><a href="#">Cash</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-4">
                <figure>

                </figure>
                <figcaption>
                    Cash
                </figcaption>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</div>